<LPF V1.0>

<PARSERINFO>
	PARSERNAME:BBC Radio Times
	BASE URL:http://www.radiotimes.beeb.com
</PARSERINFO>

<CHANNEL>
1:BBC 1
2:BBC 1 East
3:BBC 1 London & SE
4:BBC 1 Midlands
5:BBC 1 North
6:BBC 1 North East
7:BBC 1 North West
8:BBC 1 Northern Ireland
9:BBC 1 Scotland
10:BBC 1 South
11:BBC 1 South West
12:BBC 1 Wales
13:BBC 1 West
14:BBC 2
15:BBC 2 East
16:BBC 2 London & SE
17:BBC 2 Midlands
18:BBC 2 North
19:BBC 2 North East
20:BBC 2 North West
21:BBC 2 Northern Ireland
22:BBC 2 Scotland
23:BBC 2 South
24:BBC 2 South West
25:BBC 2 Wales
26:BBC 2 West
27:BBC Prime
28:BBC World
29:Anglia
30:Border
31:Carlton/LWT
32:Central
33:Channel
34:Tyne Tees
35:Grampian
36:Granada
37:HTV Wales
38:HTV West
39:Meridian
40:RTE 1
41:RTE 2
42:Scottish
43:TG4
44:Ulster
45:West Country
46:Yorkshire
47:Channel 4
48:S4C
49:Channel 5
50:AsiaNet
51:Bravo
52:CNN
53:Carlton Food Network
54:Carlton Select
55:Carlton Network
56:Challenge TV
58:Discovery
59:Discovery Home & Leisure
60:Disney Channel
62:Euronews
63:Eurosport
64:Fox Kids Network
68:Granada Men & Motors
69:Granada Plus
73:History Channel
75:MTV
78:Nickelodeon
79:Paramount Comedy
80:BBC Parliament
81:Performance
82:QVC
83:Racing Channel
84:Sci Fi
85:Sky One
</CHANNEL>

<URL>
	STRING:http://www.radiotimes.beeb.com/servlet/controller?action=searchListings&media=tv&startandenddate=
	DATE:%Y
	DATE:%m
	DATE:%d
	STRING:&startandendtime=00%3A00%2C24%3A00&genre=&cid=
	CHANNELID:
	STRING:&whatson.x=8&whatson.y=16
</URL>

<URLATTRIBUTE>
	ATTRIBUTE:DATE
	PERIODDURATION:24
</URLATTRIBUTE>

<ATTRIBUTE>
	DATE:%A %d %B
	DATEDELIM:
	TIME:%H:%M
	TIMEDELIM::
	DESCRIPTIONTYPE:EXTERNAL
	DESCRIPTIONDELIM:"
</ATTRIBUTE>


<STATETABLE>
	<INITIALIZE>
		STRING:<!-- start of programme listings table -->
	</INITIALIZE>
	<STATE>
		STATE:initial
		NEXT:outertable
		TRIGGER:<TABLE
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:outertable
		NEXT:innertable
		TRIGGER:<TABLE
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:innertable
		NEXT:datefound
		TRIGGER:<TR
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:datefound
		NEXT:channelfound
		TRIGGER:<TR
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:channelfound
		NEXT:programmerow
		TRIGGER:<TR
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:programmerow
		NEXT:gapfound
		TRIGGER:COLSPAN="5"
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:timefound
		NEXT:programmefound
		TRIGGER:<TD
		ACTION:NEWENTRY
		SEARCHSTRING:color:#003399">
		ATTRIBUTE:TIME
	</STATE>
	<STATE>
		STATE:programmefound
		NEXT:gotdescription
		TRIGGER:<A HREF
		ACTION:CONTINUEENTRY
		SEARCHSTRING:HREF="
		ATTRIBUTE:DESCRIPTION
	</STATE>
	<STATE>
		STATE:gotdescription
		NEXT:gotprogramme
		TRIGGER:<IMG
		ACTION:ENDENTRY
		SEARCHSTRING:VSPACE="3">
		ATTRIBUTE:PROGRAMME
	</STATE>
	<STATE>
		STATE:gotprogramme
		NEXT:programmerow
		TRIGGER:<TR
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:gapfound
		NEXT:datefound
		TRIGGER:<TR
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:programmerow
		NEXT:toolbarfound
		TRIGGER:COLSPAN="3"
		ACTION:TERMINATE
	</STATE>
	<STATE>
		STATE:programmerow
		NEXT:timefound
		TRIGGER:<TD
		ACTION:NULL
	</STATE>
</STATETABLE>
