<LPF V1.0>

<PARSERINFO>
	PARSERNAME:Cable Guide
	BASE URL:http:\\www.cableguide.co.uk
</PARSERINFO>

<CHANNEL>
1:ITV
2:Animal Planet
3:Asianet
4:BBC News 24
5:BBC Prime
6:BBC World
7:BBC 1
8:BBC 2
9:Bravo
10:Carlton Food Network
11:Carlton Select
12:Cartoon Network
13:Challenge TV
14:Channel 4
15:Channel 5
16:CNNI
17:Country Music Television
18:Discovery Channel
19:Discovery Home and Leisure
20:Disney Channel
21:EBN
22:Euronews
23:Eurosport
24:Fox Kids Network
25:Granada Breeze
26:Granada Men & Motors
27:Granada Plus
28:History Channel
29:HVC
31:Living
32:MTV
33:National Geographic Channel
34:CNBC
35:Nickelodeon
36:Paramount Comedy Channel
37:BBC Parliament
38:Performance
39:Playboy TV
40:QVC
41:Racing Channel
42:RTE 1
43:RTE 2
44:S4C
45:Sci Fi Channel
46:Scottish
47:Sky One
</CHANNEL>

<URL>
	STRING:http://www.cableguide.co.uk/bread/go?date=
	DATE:%d
	STRING:/
	DATE:%m
	STRING:/
	DATE:%Y
	STRING:&time=
	STARTTIME:%H
	STRING:%3A
	STARTTIME:%M
	STRING:&theme=&alias=
	CHANNELID:%d
	STRING:&type=list
</URL>

<URLATTRIBUTE>
	ATTRIBUTE:DATE
	PERIODDURATION:6
	PERIODDURATION:6
	PERIODDURATION:6
	PERIODDURATION:6
</URLATTRIBUTE>

<ATTRIBUTE>
	DATE:%A %dxx %B
	DATEDELIM:
	TIME:%I:%M %p
	TIMEDELIM::
	DESCRIPTIONTYPE:INLINE
	DESCRIPTIONDELIM:<
</ATTRIBUTE>


<STATETABLE>
	<INITIALIZE>
		STRING:<TABLE WIDTH=470 BORDER=0 CELLSPACING=3 CELLPADDING=7>
	</INITIALIZE>
	<STATE>
		STATE:initial
		NEXT:programmerow
		TRIGGER:<TR
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:programmerow
		NEXT:programmecell
		TRIGGER:<TD
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:programmecell
		NEXT:timefound
		TRIGGER:<FONT
		ACTION:NEWENTRY
		SEARCHSTRING:Helvetica">
		ATTRIBUTE:TIME
	</STATE>
	<STATE>
		STATE:timefound
		NEXT:programmefound
		TRIGGER:<FONT
		ACTION:CONTINUEENTRY
		SEARCHSTRING:Helvetica">
		ATTRIBUTE:PROGRAMME
	</STATE>
	<STATE>
		STATE:programmefound
		NEXT:descriptionfound
		TRIGGER:<FONT SIZE="-1"
		ACTION:ENDENTRY
		SEARCHSTRING:Helvetica">
		ATTRIBUTE:DESCRIPTION
	</STATE>
	<STATE>
		STATE:descriptionfound
		NEXT:programmerow
		TRIGGER:<TR
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:descriptionfound
		NEXT:endfound
		TRIGGER:</TABLE
		ACTION:TERMINATE
	</STATE>
</STATETABLE>
