<LPF V1.0>

<PARSERINFO>
	PARSERNAME:Teletext
	BASE URL:http:\\www.teletext.co.uk
</PARSERINFO>

<CHANNEL>
1:BBC 1
14:BBC 2
29:ITV
42:Channel 4
44:Channel 5
</CHANNEL>

<URL>
	STRING:http://www.teletext.co.uk/tvplus/singlelist.asp?Day=
	RELATIVEDAY:%d
	STRING:&Period=
	PERIOD:%d
	STRING:&ChannelID=
	CHANNELID:%d
	STRING:&RSC=1&GroupID=25&high=4&ChannelName=
</URL>

<URLATTRIBUTE>
	ATTRIBUTE:PERIOD
	PERIODDURATION:1
	PERIODDURATION:1
	PERIODDURATION:1
</URLATTRIBUTE>

<ATTRIBUTE>
	DATE:%d %B %Y
	DATEDELIM:
	TIME:%H:%M
	TIMEDELIM::
	DESCRIPTIONTYPE:INLINE
	DESCRIPTIONDELIM:<
</ATTRIBUTE>


<STATETABLE>
	<INITIALIZE>
		STRING:<!--single list-->
	</INITIALIZE>
	<STATE>
		STATE:initial
		NEXT:tableone
		TRIGGER:<TABLE
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:tableone
		NEXT:tabletwo
		TRIGGER:<TABLE
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:tabletwo
		NEXT:datetable
		TRIGGER:<TABLE
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:datetable
		NEXT:progtable
		TRIGGER:<TABLE
		ACTION:NULL
	</STATE>
	<STATE>
		STATE:progtable
		NEXT:timecell
		TRIGGER:<TD VALIGN
		ACTION:NEWENTRY
		SEARCHSTRING:color="#CC0000">
		ATTRIBUTE:TIME
	<STATE>
		STATE:timecell
		NEXT:progcell
		TRIGGER:<B>
		ACTION:CONTINUEENTRY
		SEARCHSTRING:B>
		ATTRIBUTE:PROGRAMME
	</STATE>
	<STATE>
</STATETABLE>
